
@using Web.Models.ViewModels

@{
    ViewBag.Title = "Sign Up As a Student";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@model UserRegisterViewModel





<div class="card">
    <div class="card-header">
        <h3>Sign Up As a Student</h3>
    </div>
    <div class="card-body">



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })

            </div>


            <div>
                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", placeholder = "Lastname" } })

            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
            </div>



            <div>
                @Html.ValidationMessageFor(model => model.UserGender, "", new { @class = "text-danger" })
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-genderless"></i></span>
                </div>
                @Html.EnumDropDownListFor(model => model.UserGender, htmlAttributes: new { @class = "form-control" })
            </div>




            <div class="form-group">
                <input type="submit" value="Register" class="btn float-right login_btn">
            </div>


        }

    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            <a href="@Url.Action("Login")">Back to Sign In</a>
        </div> 
    </div>
</div>

 