@using Web.Helpers
@using Web.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = CachingHelper.GetUserFromCache(User.Identity.Name);
}



<h3 class="display-5 pb-3 mb-3 border-bottom">Admin List</h3>


@if (user != null && user.UserRole == Web.Models.User.Role.SystemAdmin)
{
    <p class="text-end text-right">
        <a class="btn btn-success" href="@Url.Action("Create")"><i class="fas fa-plus"></i> Add a New Admin</a>
    </p>

}

<div class="row">
    <div class="col-3">
        <input type="text" id="txtSearch" class="form-control" placeholder="Search Keyword" />
    </div>

    <div class="col-3">

        <select class="form-control" id="selectStatus">
            <option value="">Select User Status</option> 
            <option value="@((int)Web.Models.User.UserStatusEnum.Active)">Active</option>
            <option value="@((int)Web.Models.User.UserStatusEnum.Passive)">Passive</option>
        </select>
    </div>
    <div class="col-2">
        <button id="btnSearch" class="btn btn-dark"> Search</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-advance table-hover responsive nowrap order-column  mt-4" id="userDatatable" width="100%">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Lastname
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Register Date
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>




@section scripts{

    <script>


             var dataGrid;


            $(document).ready(function () {
            searchButton = Ladda.create(document.querySelector("#btnSearch"));
                dataGrid = document.DormitoryApp.dataTable({
                    id: "userDatatable",
                url: '@Url.Action("GetUserList")',
                sortIndex: 6,
                sortDirection: "desc",
                searchButton: searchButton,
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "Name", name: "Name", autoWidth: true },
                    { data: "Lastname", name: "Lastname", autoWidth: true },
                    { data: "Email", name: "Email", autoWidth: true },
                    { data: "UserGender", name: "UserGender", autoWidth: true },
                    { data: "UserStatus", name: "UserStatus", autoWidth: true },
                    { data: "CreatedDate", name: "CreatedDate", autoWidth: true },
                        {
                            mRender: function (data, type, row) {

                                var html = "";
                         if ('@user.UserRole' == '@Web.Models.User.Role.SystemAdmin') {
                                   var editBtn =  $("<a/>", {
                                        "class": "btn btn-primary btn-sm text-white",
                                        "href": "Users/Edit?id=" + row.Id ,
                                        style: "cursor:pointer;",
                                        text: ' Edit'
                                   });

                                    editBtn.prepend(document.EditIcon);
                                    html = editBtn[0].outerHTML;


                                    var detailsBtn = $("<a/>", {
                                        "class": "btn btn-warning btn-sm text-white",
                                        "href": "Users/Details?id=" + row.Id,
                                        style: "cursor:pointer;",
                                        text: ' Details'
                                    });

                                    detailsBtn.prepend(document.DetailsIcon);
                                    html += " " + detailsBtn[0].outerHTML;


                                    var deleteBtn = $("<a/>", {
                                        "class": "btn btn-danger btn-sm text-white",
                                        onclick : "DeleteUser(" + row.Id + ");",
                                        style: "cursor:pointer;",
                                        text: ' Delete'
                                    });

                                    deleteBtn.prepend(document.DeleteIcon);
                                    html += " " + deleteBtn[0].outerHTML;
                                }

                                return html;
                            }
                        }
                ],
                columnDefs: [
                 {
                     "targets": 0,
                     "visible": false,
                     "searchable": false
                 },
                 {
                     "targets": 7,
                     "searchable": false,
                     "orderable": false
                 }
                ]
            });
            $("#btnSearch").click(function () {
                searchButton.start();
                var searchModel = {
                    SearchText: $("#txtSearch").val(),
                    StatusId: $("#selectStatus").val(),
                };
                dataGrid.search(JSON.stringify(searchModel));
                dataGrid.draw();
            });



            });


        function DeleteUser(id) {
               var obj = {
                url: '@Url.Action("DeleteUser")',
                data: { id: id },
                grid: dataGrid
            };
            document.DormitoryApp.deleteOperation(obj);
        }
    </script>



}