@using Web.Models
@using Web.Helpers
@using Web.Models.ViewModels


@{
    ViewBag.Title = "Room List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-5 pb-3 mb-3 border-bottom"> Room List </h3>

@{
    var user = CachingHelper.GetUserFromCache(User.Identity.Name);
}


@if (user.UserRole != Web.Models.User.Role.Student)
{
    <p class="text-end text-right">
        <a class="btn btn-success" href="@Url.Action("Create")"><i class="fas fa-plus"></i> Create New Room </a>
    </p>
}





<div class="row">
    <div class="col-3">
        <input type="text" id="txtSearch" class="form-control" placeholder="Search Keyword" />
    </div>

    <div class="col-3">

        <select class="form-control" id="selectStatus">
            <option value="">Select Room Status</option>
            <option value="@((int)RoomStatus.Available)">Available</option>
            <option value="@((int)RoomStatus.Unavailable)">Unavailable</option>
        </select>
    </div>
    <div class="col-2">
        <button id="btnSearch" class="btn btn-dark"> Search</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-advance table-hover responsive nowrap order-column  mt-4" id="roomDataTable" width="100%">


            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Room Name
                    </th>
                    <th>
                        Room Fee (Per Day)
                    </th>
                    <th>
                        Room Capacity
                    </th>
                    <th>
                        Current Capacity
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
        </table>

    </div>

</div>



<div class="modal fade" id="roomApplicationModal" tabindex="-1" role="dialog" aria-labelledby="roomApplicationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roomApplicationModalLabel">Apply a Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Accomodation Start Date:</label>
                        <input type="date" class="form-control" id="txtAccomodotionStartDate">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Accomodation End Date::</label>
                        <input type="date" class="form-control" id="txtAccomodotionEndDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveRoomApplication"><i class="fas fa-save"></i> Apply</button>
            </div>
        </div>
    </div>
</div>



@section scripts{


    <script>

        var dataGrid;


            $(document).ready(function () {
            searchButton = Ladda.create(document.querySelector("#btnSearch"));
                dataGrid = document.DormitoryApp.dataTable({
                 id: "roomDataTable",
                url: '@Url.Action("GetRoomList")',
                sortIndex: 0,
                sortDirection: "desc",
                searchButton: searchButton,
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "RoomName", name: "RoomName", autoWidth: true },
                    { data: "RoomFee", name: "RoomFee", autoWidth: true },
                    { data: "RoomCapacity", name: "RoomCapacity", autoWidth: true },
                    { data: "CurrentCapacity", name: "CurrentCapacity", autoWidth: true },
                    { data: "Status", name: "Status", autoWidth: true },

                        {
                            mRender: function (data, type, row) {

                                var html = "";

                                if ('@user.UserRole' != '@Web.Models.User.Role.Student') {
                                   var editBtn =  $("<a/>", {
                                        "class": "btn btn-primary btn-sm text-white",
                                        "href": "Rooms/Edit?id=" + row.Id ,
                                        style: "cursor:pointer;",
                                        text: ' Edit'
                                   });

                                    editBtn.prepend(document.EditIcon);
                                    html = editBtn[0].outerHTML;


                                    var detailsBtn = $("<a/>", {
                                        "class": "btn btn-warning btn-sm text-white",
                                        "href": "Rooms/Details?id=" + row.Id,
                                        style: "cursor:pointer;",
                                        text: ' Details'
                                    });

                                    detailsBtn.prepend(document.DetailsIcon);
                                    html += " " + detailsBtn[0].outerHTML;


                                    var deleteBtn = $("<a/>", {
                                        "class": "btn btn-danger btn-sm text-white",
                                        onclick : "DeleteRoom(" + row.Id + ");",
                                        style: "cursor:pointer;",
                                        text: ' Delete'
                                    });

                                    deleteBtn.prepend(document.DeleteIcon);
                                    html += " " + deleteBtn[0].outerHTML;
                                }

                                if ('@user.UserRole' == '@Web.Models.User.Role.Student') {

                                    var applyBtn = $("<a/>", {
                                        "class": "btn btn-success btn-sm text-white",
                                        onclick: "ShowApplyRoomModal(" + row.Id + ");",
                                        style: "cursor:pointer;",
                                        text: ' Apply'
                                    });

                                    applyBtn.prepend('<i class="fas fa-clipboard-list"></i>');
                                    html += " " + applyBtn[0].outerHTML;
                                }


                                return html;
                            }
                        }
                ],
                columnDefs: [
                 {
                     "targets": 0,
                     "visible": false,
                     "searchable": false
                 },
                 {
                     "targets": 6,
                     "searchable": false,
                     "orderable": false
                 }
                ]
            });
            $("#btnSearch").click(function () {
                searchButton.start();
                var searchModel = {
                    SearchText: $("#txtSearch").val(),
                    StatusId: $("#selectStatus").val(),
                };
                dataGrid.search(JSON.stringify(searchModel));
                dataGrid.draw();
            });



                $("#btnSaveRoomApplication").click(function () {
                    if ($("#txtAccomodotionStartDate").val() == "" || $("#txtAccomodotionEndDate").val() == "") {
                        alert("All fields are required.");
                    }

                    var roomApplicationObject = {
                        AccommodationStartDate: $("#txtAccomodotionStartDate").val()  ,
                        AccodomodationEndDate: $("#txtAccomodotionEndDate").val(),
                        RoomId: $("#roomApplicationModal").data("room-id"),
                    };


                   document.DormitoryApp.request({
                    method: '@Url.Action("ApplyRoom")',
                    data: { roomApplication : roomApplicationObject },
                    loading: true,
                    beforeSend: function () {
                        document.DormitoryApp.ajaxLoading('#btnSaveRoomApplication'  , 'fa-save');
                    },
                    complete: function () {
                        document.DormitoryApp.ajaxLoading('#btnSaveRoomApplication', 'fa-save');
                    },
                        success: function (result) {
                            if (result && result.ResponseData) {
                                dataGrid.draw();
                                $("#roomApplicationModal").modal("hide");
                            }
                        }
                    });



                });




        });




        function DeleteRoom(id) {
               var obj = {
                url: '@Url.Action("DeleteRoom")',
                data: { id: id },
                grid: dataGrid
            };
            document.DormitoryApp.deleteOperation(obj);
        }

        function ShowApplyRoomModal(id) {
            $("#roomApplicationModal").data("room-id", id);
            $("#roomApplicationModal").modal("show");
        }






    </script>

}
