@using Web.Models

@model IEnumerable<Web.Models.Room>

@{
    ViewBag.Title = "Room List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Room List </h2>

 
@{  
    var user = Session["User"] as User; 
}

@if (user.UserRole != Web.Models.User.Role.Student)
{
    <p>
        @Html.ActionLink("Create New Room", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            Room Name
        </th>
        <th>
           Room Fee
        </th>
        <th>
            Room Capacity 
        </th>
        <th>
             Current Capacity 
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>


    @for (int i = 0; i < 20; i++)
    {
         foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoomName) @(i + 1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomFee)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomCapacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentCapacity)
    </td>
    <td>
        Available
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 

    </td>
</tr>
        }
    }


</table>
