@model Web.Models.DormitoryAnnouncement

@{
    ViewBag.Title = "Edit the Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-5 pb-3 mb-3 border-bottom">Edit the announcement</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.PublishedDate)
   


    <div class="form-group">
        @Html.LabelFor(model => model.Announcement, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Announcement, new { @class = "form-control", rows = 5 })
            @Html.ValidationMessageFor(model => model.Announcement, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsPublished, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsPublished)
                @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-dark btn-block">
                <i class="fas fa-save"></i>  Save
            </button>
        </div>
    </div>
</div>
}


<div class="text-right text-end">
    <a class="btn btn-outline-secondary btn-sm " href="@Url.Action("Index")">
        <i class="fas fa-chevron-left"></i>  Back to List
    </a>
</div>