@using Web.Models;


@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = Session["User"] as User;
} 
<h3 class="display-5 pb-3 mb-3 border-bottom">Announcement List</h3> 


@if (user != null && user.UserRole != Web.Models.User.Role.Student)
{
    <p class="text-end text-right">
        <a class="btn btn-success" href="@Url.Action("Create")"><i class="fas fa-plus"></i> Add New Announcement</a>
    </p>

} 


<div class="row">
    <div class="col-3">
        <input type="text" id="txtSearch" class="form-control" placeholder="Search Keyword" />
    </div>
    <div class="col-2"> 

        <button id="btnSearch" class="btn   btn-dark ladda-button" data-style="expand-left"><span class="ladda-label">Search</span></button>

    </div>
</div>



<table class="table table-striped table-bordered table-advance table-hover responsive nowrap order-column  mt-4" id="announcementDataTable" width="100%">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Announcement
            </th>
            <th>
                IsPublished
            </th>
            <th>
                PublishedDate
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
</table>


@section scripts{


    <script>

        var dataGrid;


            $(document).ready(function () {
            searchButton = Ladda.create(document.querySelector("#btnSearch"));
                dataGrid = document.DormitoryApp.dataTable({
                 id: "announcementDataTable",
                url: '@Url.Action("GetDormitoryAnnouncementList")',
                sortIndex: 0,
                sortDirection: "desc",
                searchButton: searchButton,
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "Announcement", name: "Announcement", autoWidth: true },
                    { data: "IsPublished", name: "IsPublished", autoWidth: true },
                    { data: "PublishedDate", name: "PublishedDate", autoWidth: true },
                        {
                            mRender: function (data, type, row) {

                                var html = "";

                                if ('@user.UserRole' != '@Web.Models.User.Role.Student') {
                                   var editBtn =  $("<a/>", {
                                        "class": "btn btn-primary btn-sm text-white",
                                        "href": "DormitoryAnnouncements/Edit?id=" + row.Id ,
                                        style: "cursor:pointer;",
                                        text: ' Edit'
                                   });

                                    editBtn.prepend(document.EditIcon);
                                    html = editBtn[0].outerHTML;


                                    var detailsBtn = $("<a/>", {
                                        "class": "btn btn-warning btn-sm text-white",
                                        "href": "DormitoryAnnouncements/Details?id=" + row.Id,
                                        style: "cursor:pointer;",
                                        text: ' Details'
                                    });

                                    detailsBtn.prepend(document.DetailsIcon);
                                    html += " " + detailsBtn[0].outerHTML;


                                    var deleteBtn = $("<a/>", {
                                        "class": "btn btn-danger btn-sm text-white",
                                        onclick : "DeleteAnnouncement(" + row.Id + ");",
                                        style: "cursor:pointer;",
                                        text: ' Delete'
                                    });

                                    deleteBtn.prepend(document.DeleteIcon);
                                    html += " " + deleteBtn[0].outerHTML;
                                }
                                return html;
                            }
                        }
                ],
                columnDefs: [
                 {
                     "targets": 0,
                     "visible": false,
                     "searchable": false
                 },
                 {
                     "targets": 4,
                     "searchable": false,
                     "orderable": false
                 }
                ]
            });
            $("#btnSearch").click(function () {
                searchButton.start();
                var searchModel = {
                    SearchText: $("#txtSearch").val()
                };
                dataGrid.search(JSON.stringify(searchModel));
                dataGrid.draw();
            });

        });




        function DeleteAnnouncement(id) {
               var obj = { 
                url: '@Url.Action("DeleteDormitoryAnnouncement")',
                data: { id: id },
                grid: dataGrid
            };
            document.DormitoryApp.deleteOperation(obj);
        }





    </script>



}

 